 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">MSc in Computer Sciences, Major in Scientific &amp; Industrial IT</h4>
    <h5 class="meta">University of Paris UPMC, Sorbonne University's, Paris, France</h5>
    <div class="time">2014 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BSc in Intelligent Systems, Major in Embeeded Software Development</h4>
    <h5 class="meta">University of Paris Saclay, Paris area, France</h5>
    <div class="time">2013 - 2014</div>
</div><!--//item-->
</div><!--//education-container-->
