<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Automation Test Engineer</h3>
                            <div class="time">November 2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Serma Ingénierie for Renault SAS, Guyancourt(Paris Area)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Test automation for infotaintment automotive systems for the Renault vehicules.</p>  
                        <p>Développement tools: LabVIEW, TestStand, C#.NET, ASAP, CANoe</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Apprentice Engineer in test &amp; Developpement of Engine</h3>
                            <div class="time">September 2014 - 2016 (2 years)</div>
                        </div><!--//upper-row-->
                        <div class="company">PSA - Peugeot Sport, Vélizy(Paris Area)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Test &amp; developpement of tools (sensors, actuators, machine...) to investigate mechanical and performance issues.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Barman</h3>
                            <div class="time">2012 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Paris,</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
