<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">IoT</a></span> - 
                    <span class="project-tagline">Developement of a IoT system with a <a href="https://www.raspberrypi.org/">RaspberryPi</a> &amp; <a href="https://www.arduino.cc">ArduinoUno</a> and a <a href="http://redbearlab.com/bleshield/">RedBear BLE Shield</a> to communicate temperature and pressure. A website was created in Php/html/mySQL to store the Data and display it.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">On-Board Computer for Nano-Satellite</a></span> - 
                    <span class="project-tagline">Cross-Compilation under Ubuntu of <a href="http://www.freertos.org/">FreeRTOS</a> for a RaspberryPi -ARM 7-, developpement of several drivers and sub-system tests</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Developement of an ERP</a></span> - 
                  <span class="project-tagline">Modelisation of the software with UML2.0, and developement under VisualStudio with C#.NET</span>
                </div><!--//item-->
            </section><!--//section-->
